<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <%= image_tag asset_path('navbar_logo.png'), alt: 'Project alpacha', class: "full_height" %>
            </a>
        </div>
    </div>
</nav>
